* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Raleway", "Trebuchet MS", Arial, sans-serif;
    color: black;
  }
  
  .global{
    margin: 0 50px;
  }

/*début header desktop*/
header {
    display: flex;
  
  }
  
  a {
    color: black;
    text-decoration: none;
  }
  
  #login {
    padding-top: 40px;
    margin-right: 40px;
  }
  
  #login a {
    color: #0065fc;
  }
  
  #logo {
    flex: 1;
    width: 100px;
    padding-top: 35px;
  }
  
  nav ul {
    display: flex;
    list-style-type: none;
  }
  
  nav ul li {
    padding-top: 40px;
    margin-right: 40px;
    padding-right: 35px;
    padding-left: 35px;
  }
  
  nav ul li:hover {
    border-top: 3px solid #0065fc;
    padding-top: 37px;
  }
  
  nav ul a:hover {
    color: #0065fc;
  }
  
  h1 {
    font-size: 1.4rem;
  }
  
  h2 {
    font-size: 1.2rem;
  }
  
  h3 {
    font-size: 1rem;
  }
  /*fin header desktop*/
  
/*début barre de recherche desktop*/
.slogan_barre_de_recherche {
    margin-top: 2rem;
  }

  
  .slogan_barre_de_recherche h1{
    margin-bottom: 1rem;
  }

#Barre_de_recherche {
  display: flex;
  align-items: center;


  margin-top: 30px;
  margin-bottom: 30px;


}

#Barre_de_recherche span.gauche {
  display: flex;
  align-items: center;
  margin: 0px;
  padding: 0px 15px;
  height: 50px;
  background-color: #ccc;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border: #ccc solid 1px;
}

#Barre_de_recherche span.milieu {
  display: flex;
  align-items: center;
  border: #ccc solid 1px;
  height: 50px;

  margin-left: -5px;
}

#Barre_de_recherche input {
  padding-left: 10px;
  height: 100%;
  width: 100%;
  border-color: transparent;
}
#Barre_de_recherche button {
 background-color: transparent;
 border: inherit;
}

#Barre_de_recherche button:focus {
  outline: none;
  box-shadow: none;
}


#Barre_de_recherche span.droite {
  display: flex;
  align-items: center;
  border: #0265FC solid 1px;
  background-color: #0265FC;
  height: 50px;
  padding: 0 15px;
  margin-left: -5px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

#Barre_de_recherche span.droite input {

  /* font-weight: bold; */
  background-color: transparent;
  border: none;
}

#Barre_de_recherche.val_search,
#Barre_de_recherche.fa-search {
  color: white;
}

#Barre_de_recherche.fa-search {
  display: none;
}
/*fin barre de recherche desktop*/
  
/*début filtres desktop*/
#filtres {
    margin-top: 3rem;
    display: flex;
    /* justify-content: baseline; */
    align-items: center;
    flex-wrap: wrap;
  }
  
  
  section .tous_les_filtres {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  #filtres h2 {
    margin-bottom: 0;
    margin-right: 1rem;
  }
  
  div.filtre {
    /* margin-block-start: 1rem;
    margin-block-end: 1rem;*/
    display: flex;
    align-items: center;
    margin-right: 1rem;
    margin-top: 1rem;
    padding-right: 15px;
    border: #ccc solid 1px;
    border-radius: 30px;
    border-left: none;
  
    /* white-space: nowrap; */
    /* width: 200px; */
  }
  div.filtre:hover {
  background-color: #0065fc;
  }
  div.filtre div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: #0265FC;
    background-color: #cbe0ff;
    border: #cbe0ff solid 1px;
    border-radius: 50%;
    margin-left: -3px;
  }
  
  div.filtre span {
    margin-left: 5px;
  }
  /*fin filtre desktop*/
  
/*début hebergement desktop*/
section#hebergements {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
  
  #hebergements p.info i {
    color: #0265FC;
    border-radius: 50%;
    border: #ccc solid 1px;
    padding: 10px 15px;
    margin-right: 10px;
  }
  
  
  .hotels {
    display: flex;
    padding: 0;
    margin-bottom: 2rem;
  }
  
  .hotels
  .populaire {
    margin-left: 20px;
  }
  
  .hotels article,
  .bord_hotels {
    background-color: #f2f2f2;
    border-radius: 20px;
    padding-left: 2rem;
    padding-top: 2rem;
  
  }
  
  .bord_hotels  {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
  .hotels .marseille {
    display: flex;
    flex-wrap: wrap;
  
  }
  
  .hotels h1,
  h2 {
    margin-bottom: 1.5rem;
  }
  
  
  
  .rubrique_hotel {
    /*  background-color: dodgerblue;*/
    display: flex;
    flex-direction: column;
    height: 220px;
    box-sizing: border-box;
    border: 5px solid #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 7px #c1c1c1;
    margin-right: 30px;
    /* margin-left: 15px; */
    margin-bottom: 30px;
    flex: 30%;
  }
  
  .rubrique_hotel img {
    width: 100%;
    height: 145px;
    object-fit: cover;
  }
  
  
  .hotel_description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #fff;
    padding: 5px 10px;
  }
  
  .hotel_description p,
  h3 {
    margin: 0;
  }
  
  .hotel_notation {
    word-spacing: -1ch;
  }
  
  .fa-star {
    font-size: .8rem;
    letter-spacing: 2px;
  }
  
  .blue_star {
    color: #0065FC;
  }
  
  .grey_star {
    color: #e6e1e1;
  }
  
/* populaire */

.tableau_populaire {
    display: flex;
    flex-wrap: wrap;
  
  }
  
  
  .icone_populaire {
    justify-content: space-between;
    align-items: baseline;
  }
  
  .icone_populaire h2 {
    margin-top: 0;
    margin-bottom: 25px;
  }
  
  .icone_populaire i {
    font-size: 1.5rem;
  }
  
  .rubrique_populaire {
    display: flex;
    height: 145px;
    width: 400px;
    border: 5px solid #fff;
    border-radius: 15px;
    margin-bottom: 30px;
    box-shadow: 0 0 7px #c1c1c1;
    box-sizing: border-box;
    overflow: hidden;
  }
  
  .rubrique_populaire img {
    width: 40%;
    height: 100%;
    object-fit: cover;
  }
  
  .description_populaire {
    display: flex;
    background-color: #fff;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
  }
  
  
  
  .description_populaire .nom_hotel+p {
    margin-top: 8px;
    margin-bottom: 0;
  }
  /* début activité desktop*/

#hotels_activites h1 {
    margin: 2.5rem 0rem 2rem 0rem;
  }
  
  
  .activites {
    display: grid;
    height: auto;
    gap: 27px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "a b d e"
      "a c d f";
  
  }
  
  .activites .img1,
  .img2,
  .img3,
  .img4,
  .img5,
  .img6 {
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 7px #c1c1c1;
  }
  
  .activites img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  
  }
  
  .activites .texte_image_activite {
    padding: 10px;
    background-color: #fff;
    font-size: 1.1rem;
    font-weight: 700;
  }
  
  .img1 {
    grid-area: a
  }
  
  .img2 {
    grid-area: b;
  }
  
  .img3 {
    grid-area: c;
  }
  
  .img4 {
    grid-area: d;
  }
  
  .img5 {
    grid-area: e;
  }
  
  .img6 {
    grid-area: f;
  }
  /* fin activité desktop*/

/* début footer desktop*/
footer {
    display: flex;
  
    margin-top: 50px;
    padding: 35px 50px 60px 50px;
    flex-wrap: wrap;
    background-color: #f2f2f2;
  }
  
  footer li {
    list-style-type: none;
    margin: 5px;
    margin-left: 0;
  }
  
  
  #propos,
  #hebergement,
  #assistance {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    margin-top: 25px;
    justify-content: left;
  }
  /* fin footer desktop*/


/* -------------------Responsive sur tablette---------------- */


@media screen and (max-width: 1024px) {

  
    /* -------------------hebergements & populaires & activites---------------- */
    
       .rubrique_hotel {
        flex: 40%;
      }
    
      .hotels {
        flex-direction: column;
      }
    
      .hotels article {
        order: 2;
        margin-top: 2.5rem;
      }
    
      .bord-hotels {
        margin: 0;
      }
    
      .tableau_populaire {
        display: flex;
        flex-wrap: wrap;
    
      }
    
      .rubrique_populaire {
        flex: 30%;
        margin-right: 15px;
      }
    
    
      .activites {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
          "a b d"
          "e c f";
      }
    }
    
    
    
    @media screen and (max-width: 965px) {
      .rubrique_populaire {
        flex: 100%;
      }
      .hotels .populaire {
        margin-left: 0px;
    }
    }
    
    
    @media screen and (max-width: 768px) {
      .activites {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
          "a b"
          "c d"
          "e f";
      }
    
    }
    


/* -------------------Responsive sur mobile---------------- */

@media screen and (max-width: 600px) {

    /* -------------------header---------------- */
  
  
  header {
      flex-direction: column;
  
  
    }
  
    header #logo {
      margin: 0 1rem;
    }
  
    header nav {
  
      order: 3;
      margin-bottom: 2rem;
  
    }
  
    header #login {
      align-self: flex-end;
      padding-top: 0;
      margin-right: 1rem;
      margin-top: -2rem;
    }
  
    header nav ul {
      justify-content: center;
  
    }
  
    nav ul a:hover {
      color: inherit;
    }
  
    nav ul li {
      padding-top: 37px;
      padding-bottom: 15px;
      margin-right: 0;
      width: 50%;
      text-align: center;
      border-bottom: 3px solid #f1eeee;
    }
  
    nav ul li:hover {
      border-top: none;
      border-bottom-color: #0065fc;
    }
  
  /* -------------------filtres---------------- */
  
    .slogan_barre_de_recherche {
      margin: 0 1rem;
    }
  
    #filtres {
      width: 100%;
      margin-left: 1rem;
  
    }
  
    #barre_de_recherche {
      display: flex;
  
  
    }
  
    #barre_de_recherche .middle {
      flex: 1;
    }
  
  
    #barre_de_recherche span.right {
      padding: 0 15px;
      border-radius: 10px;
    }
  
    #barre_de_recherche .val_search {
      display: none;
    }
  
    #barre_de_recherche .fa-search {
      display: block;
    }
  
    .global {
      margin: 0;
    }
  
  
    /* -------------------hebergements & populaires---------------- */
  
    section.hotels {
      margin-left: 0;
  
      width: 100%;
    }
  
    .hotels aside {
      border-radius: 0;
      padding-left: 2rem;
      padding-right: 1rem;
    }
  
    .hotels article {
      border-radius: 0;
      padding-left: 2rem;
      padding-right: 0rem;
      background-color: #fff;
    }
  
    .rubrique_hotel {
      flex: 100%;
    }
  
    .rubrique_populaire {
      flex: 100%;
    }
  
    /* -------------------activites---------------- */
  
    .activites {
  
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(6, 200px);
      grid-template-areas:
        "a"
        "c"
        "e"
        "b"
        "d"
        "f";
    }
  
    .activites img {
      height: 150px;
    }
  
    .activites .texte_bord {
      height: 50px;
    }
  
    #hotels_activites {
      margin: 0 30px;
    }
  
  /* -------------------footer---------------- */
  
      footer {
      padding-left: 35px;
    }
  }      
  
  
